<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/raiding.css">

    <div class="page_content_2 mb-5 ">

        <div class="timeline_headers ms-3">
            <div class="expansion_timeline">
                <h2>Warlord of Draenor</h2>
                <span>November 13, 2014</span>
            </div>
            <div class="first_raid">
                <h2>Hellfire Citadel</h2>
                <span>June 23, 2015</span>
            </div>

        </div>
        <div class="wf-header-block">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                    <div class="navbar-expansions collapse navbar-collapse row d-flex justify-content-center navbar-expansions">
                        <a href="#" id="wod_box" class="nav-item nav-link is-featured" onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082225/Horna/wod_banner_ldqlpm.png');">Warlords of Draenor</a>
                        <a href="#" id="legion_box" class=" nav-item nav-link is-featured" onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082220/Horna/legion_banner_q84ngk.png');">Legion</a>
                        <a href="# " id="bfa_box " class=" nav-item nav-link is-featured " onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082216/Horna/bfa_banner_tv7e5s.png'); ">Battle For Azeroth</a>
                        <a href="# " id="SL_box " class=" nav-item nav-link is-featured " onclick="changeBanner('https://res.cloudinary.com/amroeg/image/upload/v1616082223/Horna/SL_banner_em7n4i.png'); ">Shadowlands</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="row d-flex justify-content-center ">

            <div class=" expansion-image row d-flex justify-content-end ">

                <img class="expansion_banner mt-3 " id="expansion-banner" src="https://res.cloudinary.com/amroeg/image/upload/v1616082225/Horna/wod_banner_ldqlpm.png " alt=" ">
            </div>
            <div class="container_info ">

                <div class="raids">

                    <img class="hfc" src="https://res.cloudinary.com/amroeg/image/upload/v1616082221/Horna/fury_of_hellfire_if5ilh.png" alt=" ">

                </div>


            </div>

        </div>
    </div>

    <script src="/javascripts/index.js"></script>