<% layout('layouts/boilerplate') %>

    <div class="col-4 offset-md-4 mb-5 justify-content-center">
        <div class="bg-dark text-white">
            <div>
                <form action="/expansions" method="POST" novalidate class="validated-form" enctype="multipart/form-data">

                    <div class="mb-3">
                        <label class="form-label" for="title">Title</label>
                        <input class="form-control" type="text" id="title" name="expansion[title]" required>
                        <div class="valid-feedback ">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="releaseDate">Release Date</label><br>
                        <input type="date" id="releaseDate" name="expansion[releaseDate]">
                        <div class="valid-feedback ">
                            Looks Good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Upload Banner</label>
                        <input class="form-control" type="file" id="banner" name="banner">
                    </div>
                    <div class="mb-3">
                        <button class="orange ripple w-100">LISÄÄ</button>
                    </div>

                </form>
                <a href="/">Takaisin</a>
            </div>
        </div>
    </div>