<% layout('layouts/boilerplate') %>
    <h1 class="text-white text-center mb-5">CHOOSE YOUR ROLE</h1>
    <div class="row d-flex justify-content-center mb-5">

        <div class="panel role-table">

            <div class="role-plan">
                <img src="https://res.cloudinary.com/amroeg/image/upload/v1616082217/Horna/dps_role_ymedrb.png" alt="" class="role-img">
                <h2 class="role-header">DPS</h2>
                <ul class="role-features">
                    <li class="role-features-item">Custom domains</li>
                    <li class="role-features-item">Sleeps after 30 mins of inactivity</li>
                </ul>

                <a href="#/" class="role-button is-featured">CHOOSE</a>
            </div>

            <div class="role-plan">
                <img src="https://res.cloudinary.com/amroeg/image/upload/v1616082215/Horna/healer_role_tlkqyy.png" alt="" class="role-img">
                <h2 class="role-header">HEALER</h2>
                <ul class="role-features">
                    <li class="role-features-item">Never sleeps</li>
                    <li class="role-features-item">Multiple workers for more powerful apps</li>
                </ul>

                <a href="#/" class="role-button is-featured">CHOOSE</a>
            </div>

            <div class="role-plan">
                <img src="https://res.cloudinary.com/amroeg/image/upload/v1616082224/Horna/tank_role_ozv4hl.png" alt="" class="role-img">
                <h2 class="role-header">Tank</h2>
                <ul class="role-features">
                    <li class="role-features-item">Dedicated</li>
                    <li class="role-features-item">Simple horizontal scalability</li>
                </ul>

                <a href="#/" class="role-button is-featured">CHOOSE</a>
            </div>

        </div>
    </div>