<% layout('layouts/boilerplate') %>

    <div class="intro text-white">
        <section class="introduction ">

            <p><b>
            Horna on 100% suomalainen kilta, joka on kotoisin Twisting Nether -realmilta ja keskittyy rentoon mutta kuitenkin tavoitteelliseen raidaamiseen.</p>
        <p> Killan pääpainopiste on Mythic -raidaamisessa mutta emme kuitenkaan ota raidamista liian vakavasti. Mielestämme raideillä pitää olla mukavaa ja viihtyisää, joten hampaat irvessä emme raidaa world rankkeja tavoitellen vaan keskitymme
            clearaamaan contentin omaan rentoon tahtiin.</b></p>
        </section>
        <div class="container_info ">
            <p><b>Killalle tärkeitä arvoja ovat:</b></p>
            <p> -Aikuismaisuus ja hyvät käytöstavat</p>
            <p>-Oikeudenmukaisuus ja muiden huomioonottaminen </p>
            <p>-Yhteishenki </p>
        </div>

    </div>