<% layout('layouts/boilerplate') %>

    <div class="page_content px-0 py-0 me-0 ">
        <div class="intro bg-dark ">

        </div>
        <div class="row d-flex justify-content-center  text-white">

            <div class="container_info col-5 ">
                <p> <b>Mitä Horna tarjoaa sinulle? </b></p>
                <p>- Mukavan ja draamavapaan yhteisön mihin on helppo tulla ja kotiutua.</p>
                <p> - Raidaamista kolmesti viikossa, ke-to-su klo 19.30-22.30 </p>
                <p>- Rennon raid-ilmapiirin. </p>
                <p>- Pyrimme clearaamaan koko contentin hyvissä ajoin, ennen seuraavaa tieriä.</p>
                <p> - Altti-raideja ja pööpöily-raideja (aka pöhnä-raideja) enemmän tai vähemmän säännöllisesti</p>
                <p> - Muuta tekemistä raidien ulkopuolella</p>
                <p>- olipa kyse pvp:stä, vanhasta contentista tai vaikka achien-tekemisestä, on todennäköistä, että löydät killasta seuraa itsellesi.</p>
                <p> - Aikuismaista ja osaavaa peliseuraa. Killan keski-ikä on yli 20v.</p>
                <p> - Killan, jonka pysyvyyteen voit luottaa. Osa kiltalaisista on pelannut yhdessä jo vuosia ja moni uudempi kiltalainenkin on viihtynyt killassa erittäin hyvin.</p>



            </div>

            <div class="container_info2 col-5 ">
                <p><b>Kuinka voit liityä Hornaan? </b></p>
                <p>Olet löytänyt juuri oikeaan paikkaan, sillä helpoin ja nopein tapa on jättää hakemus näiden sivujen kautta - saat vastauksen päivässä tai parissa.</p>
                <p>Jos haluat kysyä lisää voit ottaa yhteyttä killan officereihin:</p>
                <p>Thamos (battletag: Thamos#2477)</p>
                <p>Rupsuti (battletag: Nidilap#1146) </p>
                <p>Youtube-kanavaltamme löydät kuvaa raideiltamme.</p>
                <p>Ajankohtaisen progressimme löydät WoWProgress -sivustolta.</p>


            </div>
        </div>
    </div>