<% layout('layouts/boilerplate') %>

<div class="mb-5">
    <h3 class="text-white">Youtube-kanavan sisältöä</h3>
</div>
<div class="container ml-auto pl-0">
<div class="row d-flex justify-content-between mb-3">
<div class="col-4">
    <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/PMklZWY6_SY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-4">
    <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/p5tF6w9OFyU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-4">
    <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/eAAyqyV2afQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

<div class="row mb-3">
<div class="col-4">
    <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/dMRQTTtVasU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-4">
    <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/totJZSIoP-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<div class="col-4">
    <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/Ar8SKcN2pJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

</div>

<div class="row mb-3">
    <div class="col-4">
        <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/IxZx87_AW8s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="col-4">
        <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/EudDGRhAneE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    <div class="col-4">
        <iframe class="youtube" width="400" height="225" src="https://www.youtube.com/embed/I0D9CraC_-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    
    </div>
</div>