body {
  background: rgb(20, 17, 17);
}

.container bg-dark {
  width: 1400px;
  box-shadow: 0px 0px 20px 8px rgb(176, 46, 12);
  background-color: rgb(35, 37, 35);
  background-repeat: no-repeat;
  background-position: center;
}

.container_nav {
  box-shadow: 10px 2px 8px black;
}

.intro {
  text-align: center;
}

.footer_nav {
  box-shadow: 10px -2px 8px black;
}

.banner_container {
  margin-top: 0;
}

.card shadow .img {
  width: 50px;
}

.button_login {
  background-color: none;
  font-weight: 700;
}

.nav-item {
  color: black;
  transition: all 0.25s;
  text-align: center;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover {
  color: rgb(176, 46, 12);
  cursor: pointer;
}

.navbar-nav .nav-item a.is-featured:focus {
  color: rgb(176, 46, 12);
}

.page_content_1 {
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

h2 {
  font-size: 1.4rem;
}

.raiders {
  text-align: center;
}
/* EXPANSION NAV */

.navbar-expansions {
  background-color: rgb(41, 41, 41);
  overflow: hidden;
  border: 2px solid rgb(25, 28, 31);
}

div.nav-exp {
  color: rgb(255, 255, 255);
  border-left: 2px solid rgb(25, 28, 31);
  text-transform: uppercase;
  text-shadow: 3px 4px 5px black;
  font-size: 15px;
  font-weight: 700;
  height: 70px;
  text-align: center;
  width: 25%;
  padding: 0;
  /* Four links of equal widths */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-exp a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  vertical-align: middle;
}

.navbar-expansions .nav-exp:after {
  position: relative;
  top: 12px;
  display: block;
  content: '';
  border-top: solid 3px rgb(176, 46, 12);
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  z-index: 2;
}
.nav-exp a:hover {
  color: rgb(176, 46, 12);
}
.navbar-expansions .nav-exp:hover:after {
  transform: scaleX(1);
  color: rgb(176, 46, 12);
}

.navbar-expansions .nav-exp:nth-of-type(1) {
  border-left: none;
}

/* .navbar-expansions a.is-featured:focus {
  color: rgb(176, 46, 12);
  border-bottom: 2px solid rgb(176, 46, 12);
} */
/* EXPANSION NAV ENDS*/

/* EXPANSION */

.expansion_container {
  margin-left: 15px;
  color: white;
  border-left: 2px solid rgb(176, 46, 12);
  border-image: linear-gradient(
      to bottom,
      rgba(176, 46, 12) 93%,
      rgba(0, 0, 0, 0)
    )
    1;
  border-image: linear-gradient(to top, rgba(176, 46, 12) 93%, rgba(0, 0, 0, 0))
    1;
}
.expansion_banner {
  max-width: 900px;
  box-shadow: 0 0 12px black;
  float: right;
}
.expansion_info {
  margin-left: auto;
  font-weight: bold;
  top: 50%;
  bottom: 50%;
  align-items: center;
  position: relative;
  text-shadow: 3px 4px 5px black;
}

.expansion_info h2 {
  font-weight: bold;
}

span.expansion_releaseDate {
  font-weight: bold;
}

/*EXPANSION ENDS*/

/* RAID */

.banner {
  display: flex;
  margin-left: 0;
  order: 3;
}

.raid_banner {
  -webkit-box-shadow: inset 0 0 10px 10px #000;
  -moz-box-shadow: inset 0 0 10px 10px #000;
  box-shadow: inset 0 0 10px 10px #000;
  max-width: 600px;
  justify-content: flex-end;
  position: relative;
}

.raid {
  align-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.raid:last-child {
  border-image: linear-gradient(to bottom, rgb(176, 46, 12), rgba(0, 0, 0, 0)) 1
    100%;
}
.progress_box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  flex-direction: column;
}

.progress_text {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 200px;
  text-shadow: 3px 4px 5px black;
  border: 2px solid rgb(25, 28, 31);
  padding: 10px;
  background-color: rgb(41, 41, 41);
}

.progress_text h1 {
  margin: 0;
}
h1:after {
  display: block;
  content: '';
  border-bottom: solid 3px rgb(176, 46, 12);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.progress_text h1:hover:after {
  transform: scaleX(1);
  color: rgb(176, 46, 12);
  cursor: pointer;
}

.progress_table {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 50px;
  font-size: 15px;
  border: 1px solid black;
  box-shadow: 0 0 12px black;
}

tr:nth-child(even) {
  background-color: rgb(20, 17, 17);
}

tr:hover {
  background-color: rgb(63, 62, 61);
}
td {
  height: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

td:hover {
  cursor: pointer;
}

.raid_info {
  margin-left: 0;
  top: 50%;
  bottom: 50%;
  align-items: center;
  position: relative;
  text-shadow: 3px 4px 5px black;
}

.raid_info h2 {
  font-weight: bold;
}

.raid_releaseDate {
  font-weight: bold;
}

.timeline_indicator {
  background-color: rgb(176, 46, 12);
  height: 10px;
  width: 15px;
  outline: solid 5px rgb(33, 37, 41);
  border-radius: 50px;
  margin-left: -20px;
}

td,
th {
  padding: 5px;
}

td {
  font-weight: 600;
}

.progress_table td:last-child {
  text-align: end;
}

thead {
  border-bottom: 1px solid rgb(176, 46, 12);
}
