body {
  background: rgb(20, 17, 17);
}

.container bg-dark {
  width: 1400px;
  box-shadow: 0px 0px 20px 8px rgb(176, 46, 12);
  background-color: rgb(35, 37, 35);
  background-repeat: no-repeat;
  background-position: center;
}

.container_nav {
  box-shadow: 10px 2px 8px black;
}

.intro {
  text-align: center;
}

.footer_nav {
  box-shadow: 10px -2px 8px black;
}

.banner_container {
  margin-top: 0;
}

.card shadow .img {
  width: 50px;
}

.button_login {
  background-color: none;
  font-weight: 700;
}

.nav-item {
  outline: 1px;
  color: black;
  font-weight: 700;
  transition: all 0.25s;
  height: 3em;
  text-align: center;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover {
  color: rgb(176, 46, 12);
  cursor: pointer;
}

.navbar-nav .nav-item a.is-featured:focus {
  color: rgb(176, 46, 12);
}

.page_content_1 {
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
}

h2 {
  font-size: 1.4rem;
}

.raiders {
  text-align: center;
}
/* EXPANSION NAV */

.navbar-expansions {
  background-color: rgb(41, 41, 41);
  overflow: hidden;
  border: 2px solid rgb(25, 28, 31);
}

.navbar-expansions a {
  color: rgb(255, 255, 255);
  border-left: 2px solid rgb(25, 28, 31);
  text-transform: uppercase;
  text-shadow: 3px 4px 5px black;
  font-size: 13px;
  font-weight: 700;
  padding: 15px 10px;
  height: 70px;
  text-align: center;
  width: 25%;
  /* Four links of equal widths */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-expansions a:nth-of-type(1) {
  border-left: none;
}

.navbar-expansions a:hover {
  color: rgb(176, 46, 12);
  border-bottom: 2px solid rgb(176, 46, 12);
  transform: none;
}

.navbar-expansions a.is-featured:focus {
  color: rgb(176, 46, 12);
  border-bottom: 2px solid rgb(176, 46, 12);
}
/* EXPANSION NAV ENDS*/

ul li a.exp-link {
  color: red;
  border: 1px solid black;
  width: 100%;
  margin: 5px;
  text-decoration: none;
}

/* EXPANSION */

.expansion_container {
  margin-left: 10px;
  border-left: 2px solid rgb(176, 46, 12);
  color: white;
}
.expansion_banner {
  max-width: 900px;
  box-shadow: 0 0 12px black;
  float: right;
}
.expansion_info {
  margin-left: auto;
  font-weight: bold;
  top: 50%;
  bottom: 50%;
  align-items: center;
  position: relative;
}

.expansion_info h2 {
  font-weight: bold;
}

span.expansion_releaseDate {
  font-weight: bold;
}

/*EXPANSION ENDS*/

/* RAID */

.banner {
  display: flex;
  margin-left: 0;
  order: 3;
}

.raid_banner {
  max-width: 600px;
  box-shadow: 0 0 12px black;
  justify-content: flex-end;
}

.raid {
  align-content: center;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.progress_table {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 50px;
  font-size: 15px;
}
.raid_info {
  margin-left: 0;
  top: 50%;
  bottom: 50%;
  align-items: center;
  position: relative;
}

.raid_info h2 {
  font-weight: bold;
}

.raid_releaseDate {
  font-weight: bold;
}

.timeline_indicator {
  background-color: rgb(176, 46, 12);
  height: 10px;
  width: 15px;
  outline: solid 5px rgb(33, 37, 41);
  border-radius: 50px;
  margin-left: -20px;
}

td,
th {
  padding: 5px;
}

td {
  font-weight: 600;
}

.progress_table td:last-child {
  text-align: end;
}

thead {
  border-bottom: 1px solid rgb(176, 46, 12);
}
