<% layout('layouts/boilerplate') %>

    <div class="container_login d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-6 offset-md-4 col-xl-4 offset-xl-1 w-auto mb-3">
                <div class=" text-white bg-dark">
                    <!-- <img src="https://res.cloudinary.com/amroeg/image/upload/v1618233484/Horna/webcargo_signup_mdnbly.png" alt="" class="card-img-top" /> -->
                    <div class="card-body">
                        <div class="mb-3">
                        <h5 class="card-title text-center">KIRJAUDU SISÄÄN</h5>
                    </div>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Käyttäjänimi</label>
                                <input class="form-control" type="text" id="username" name="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Salasana</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <span>Don't have an account? Register</span>
                                <a href="/register">here</a>
                            </div>
                            <button class="ripple orange w-100">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>