<% layout('layouts/boilerplate') %>
    <div class="container_register d-flex justify-content-center align-items-center mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow bg-dark text-white">
                    <img src="https://res.cloudinary.com/amroeg/image/upload/v1617888317/Horna/adam-torn-qcglhps_g2kqof.jpg" alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate enctype="multipart/form-data">
                            <div class="mb-3 ">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required autofocus>
                                <div class="valid-feedback ">
                                    Looks Good!
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label" for="firstName">First Name</label>
                                <input class="form-control" type="text" id="firstName" name="firstName" required>
                                <div class="valid-feedback ">
                                    Looks Good!
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label" for="lastName">Last Name</label>
                                <input class="form-control" type="text" id="lastName" name="lastName" required>
                                <div class="valid-feedback ">
                                    Looks Good!
                                </div>
                            </div>
                            <div class="mb-3 ">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback ">
                                    Looks Good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Avatar</label>
                                <input class="form-control" type="file" id="avatar" name="avatar" multiple>
                            </div>

                            <button class="btn btn-success w-100 ">Register</button>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>